<div class="content">
	<div class="center">
		<div class="logo">
			
		</div>	
		<div class="search">
			<form action="#" method="POST">
				<div class="entry">
					<input type="text">
				</div>
				<div class="buttons">
					<button class="b" aria-label="Google Search">
						<span>Google Search</span>
					</button>
					<button class="b" aria-label="I'm Feeling Lucky">
						<span>I'm Feeling Lucky</span>
					</button>
				</div>
			</form>	
		</div>
		<div class="ad">
			<p>Watch & vote for your favorite</p>
		</div>
	</div>
</div>
