<div class="topnavbar">
	<div class="topnavbarleft">
		<div class="topnavbaryou">
			<a class="nav-link-a" href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0%26tab%3DwX%26partnerid%3Dogpy0">+You</a>
		</div>
		<div class="topnavbargmail">	
			<a class="nav-link-a" href="https://mail.google.com/intl/en/mail/help/about.html">Gmail</a>
		</div>
		<div class="topnavbarimages>
			<a class="nav-link-a" href="https://www.google.com/imghp?hl=en&tab=wi&ei=KTDwUvDAOKy4sQSWtIK4BA&ved=0CAQQqi4oAg">Images</a>
		</div>
	</div>
	<div class="topnavbarright">
		<div class="topnavbarsquare">
			<a class="pop-up">Unimplemented</a>
		</div>
		<div class="topnavbarsignin>
			<a class="nav-link" href="https://accounts.google.com/ServiceLogin?hl=en&continue=https://www.google.com/">Sign In</a>
		</div>
	</div>
</div>
